.form-btn{
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      border-radius: 5px;
      transition: .2s all;
}

.form-btn:hover{
      background-color: rgb(28, 138, 30)
}



.post-btn{
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      border-radius: 5px;
      transition: .2s all;
}

.post-btn:hover{
      background-color: rgb(28, 138, 30)
}




.post-control-btn1{
      background-color: #4CAF50;
      color: white;
      padding: 5px 5px;
      margin-left:10px;
      border: none;
      cursor: pointer;
      width: 100%;
      border-radius: 5px;
      transition: .2s all;
}

.post-control-btn1:hover{
      background-color: rgb(28, 138, 30)
}